<div class="register-container">
  <h2>Inscription</h2>
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <div>
      <label for="username">Username: </label>
      <input type="text" id="username" required [(ngModel)]="username" name="username" />
    </div>
    <div>
      <label for="email">Email: </label>
      <input type="email" id="email" required [(ngModel)]="email" name="email" />
    </div>
    <div>
      <label for="password">Mot de passe: </label>
      <input type="password" id="password" required [(ngModel)]="password" name="password" />
    </div>
    <div>
      <label for="passwordConfirm">Confirmer le mot de passe: </label>
      <input type="password" id="passwordConfirm" required [(ngModel)]="passwordConfirm" name="passwordConfirm" />
    </div>
    <button type="submit" [disabled]="!registerForm.form.valid">S'inscrire</button>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>
</div>
