<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text">
    <div *ngIf=" submitted && registerForm.get('username')?.errors?.['required']">Ce champ est requis.</div>
    <div *ngIf="submitted && registerForm.get('username')?.errors?.['minlength']">Ce champ doit contenir au moins 3 caractères.</div>


  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">
    <div *ngIf="registerForm.get('email')?.errors?.['required']">Ce champ est requis.</div>
    <div *ngIf="registerForm.get('email')?.errors?.['email']">Veuillez entrer une adresse email valide.</div>



  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password">
  </div>
  <div>
    <label for="passwordConfirm">Confirm Password:</label>
    <input id="passwordConfirm" formControlName="passwordConfirm" type="password">
  </div>
  <div *ngIf="getFirstError()">{{ getFirstError() }}</div>


  <button type="submit">Register</button>
</form>
