<div class="w-full mx-auto p-6 bg-white shadow-md rounded-lg" [ngClass]="{'mt-0': isEditingPost, 'mt-20': !isEditingPost}">
    <form (ngSubmit)="onSubmit()" [formGroup]="postForm" class="space-y-2">
        <div class="flex justify-between">
            <div>
                <input
                        type="text"
                        id="title"
                        formControlName="title"
                        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                        placeholder="Entrez le titre"
                />
                <div *ngIf="postForm.get('title')?.invalid && postForm.get('title')?.touched"
                     class="text-red-500 text-sm mt-1">
                    Titre est requis.
                </div>
            </div>
            <div>
                <input
                        type="file"
                        id="image"
                        (change)="onFileSelected($event)"
                        accept="image/*"
                        class="cursor-pointer block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4
                    file:rounded-full file:border-0 file:text-sm file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100"
                />
                <div *ngIf="imageError" class="text-red-500 text-sm mt-1">
                    {{ imageError }}
                </div>
            </div>
        </div>
        <div>
            <textarea
                    id="text"
                    formControlName="content"
                    rows="5"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
                    placeholder="Écrivez votre texte ici..."
            ></textarea>
            <div *ngIf="postForm.get('content')?.invalid && postForm.get('content')?.touched"
                 class="text-red-500 text-sm mt-1">
                Le texte est requis.
            </div>
        </div>
        <button
                type="submit"
                class="cursor-pointer py-2 px-4 bg-blue-600 text-white text-sm rounded-lg hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400"
                [disabled]="postForm.invalid">
            {{ isEditingPost ? 'Modifier' : 'Publier' }}
        </button>
    </form>
</div>