<app-header></app-header>

<div class="container-fluid bg-light min-vh-100">
  <div class="row">
    <!-- Aside profil (desktop) -->
    <aside class="col-lg-3 d-none d-lg-block">
      <div class="position-sticky" style="top: 5rem;">
        <app-aside-profile [userInfo]="user"></app-aside-profile>
      </div>
    </aside>

    <!-- Contenu principal -->
    <section class="col-lg-9 pt-4">
      <div class="container">
        <div
          *ngFor="let post of userPosts"
          class="row justify-content-center mb-4">
          <div class="col-12 col-md-10 col-lg-8">
            <app-card-post
              [userProfilePicture]="user.profilePicture"
              [post]="post"
              [enableEdit]="true"
              (onPostDeleted)="onPostDeleted($event)"
              (onPostEdited)="onPostUpdated($event)">
            </app-card-post>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
