<header class="fixed bg-blue-500 top-0 left-0 right-0 flex justify-between items-center shadow-md z-10">
  <mat-toolbar-row>
    <span class="ml-5 text-white cursor-pointer" (click)="navigateHome()">MediaWave</span>
  </mat-toolbar-row>

  <!-- Menu pour utilisateur authentifié -->
  <div *ngIf="isAuthenticated">
    <button mat-icon-button [matMenuTriggerFor]="menuHeader">
      <img src="https://cdn.pixabay.com/photo/2015/05/31/16/03/teddy-bear-792273_1280.jpg" alt="profile-image"
           class="w-8 h-8 object-cover rounded-full mr-4">
    </button>
    <mat-menu #menuHeader="matMenu" class="cursor-pointer bg-white">
      <span class="font-extralight p-3">USERNAME</span>
      <button mat-menu-item>Show Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>

  <!-- Boutons pour utilisateur non authentifié -->
  <div class="auth-buttons" *ngIf="!isAuthenticated">
    <button mat-button class="text-white mr-5" (click)="login()">Se connecter</button>
    <button mat-button class="text-white mr-5" (click)="register()">S'inscrire</button>
  </div>

</header>
