<div class="w-full mx-auto my-5 p-6 bg-white rounded-lg shadow-lg">
  <div class="flex justify-between items-end mb-4">
    <div class="flex items-center">
      <img src="https://cdn.pixabay.com/photo/2015/05/31/16/03/teddy-bear-792273_1280.jpg"
           alt="profile-image"
           class="w-8 h-8 object-cover items-center rounded-full mr-2">
      <span class="font-medium text-sm items-center text-gray-700">{{ post.publisher.username }}</span>
    </div>
    <div class="flex">
      <span class="font-extralight text-sm">{{ post.postDate | date: 'dd-MM-yyyy' }}</span>
      <mat-icon *ngIf="enableEdit" [matMenuTriggerFor]="menuPost" class="text-sm text-blue-500 cursor-pointer ml-2">more</mat-icon>
      <mat-menu #menuPost="matMenu" class="cursor-pointer bg-white">
                <span (click)="openDeleteDialog(post._id)" class="text-sm font-extralight block p-1 hover:bg-white">
                    <mat-icon class="text-sm p-2">delete</mat-icon>Supprimer ce poste</span>
        <span (click)="editPost()" class="text-sm font-extralight block p-1 hover:bg-white">
                    <mat-icon class="text-sm p-2">edit</mat-icon>Modifier ce poste</span>
      </mat-menu>
    </div>
  </div>
  <h6 class="text-sm font-bold mb-0">{{ post.title }}</h6>
  <p class="font-light text-base text-justify">{{ post.content }}</p>
  <img *ngIf="post.postPicture" [src]="post.postPicture" class="w-full rounded mb-3 h-52" alt="post-image">

  <p class="flex items-center">
    <app-like  [postId]="post._id!"> </app-like>
    <mat-icon class="text-gray-800 cursor-pointer ml-2"></mat-icon>
    <span class="ml-1"></span>  </p>

  <app-comment-list [postId]="post._id!"></app-comment-list>
</div>

