<!-- chat.component.html -->
<div *ngIf="selectedConversation" class="flex-1 bg-white h-screen p-4 shadow-lg overflow-hidden">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-semibold"> {{ getOtherParticipant(selectedConversation.participants).username }}</h3>
  </div>

  <!-- Affichage des messages -->
  <div class="messages-container h-4/5 overflow-y-auto mb-4">
    <div *ngFor="let message of messages" class="message mb-2 p-3 rounded-md shadow-sm bg-gray-50">
      <strong>{{ message.senderId.username }}:</strong> {{ message.content }}
    </div>
  </div>

  <!-- Zone de saisie de message -->
  <div class="message-input mt-4 flex space-x-2">
    <textarea
      [(ngModel)]="newMessage"
      placeholder="Écrivez un message..."
      class="w-full p-2 border border-gray-300 rounded-md"
    ></textarea>
    <button (click)="sendMessage(newMessage)" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">
      Envoyer
    </button>
  </div>
</div>
