<mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field appearance="outline" class="w-full space-y-0">
            <input
                    matInput
                    placeholder="Username"
                    formControlName="username"
                    required />
            <mat-error *ngIf="form.get('username')?.dirty && form.get('username')?.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('username')?.dirty && form.get('username')?.hasError('minlength')">
                Username is <strong>2 chars min</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <input
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    required />
            <mat-error *ngIf="form.get('email')?.dirty && form.get('email')?.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('email')?.dirty && form.get('email')?.hasError('email')">
                Format email is <strong>Invalid</strong> (email&#64;email.com)
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full">
            <textarea
                    matInput
                    placeholder="Bio"
                    formControlName="bio"
                    required></textarea>
            <mat-error *ngIf="form.get('bio')?.dirty && form.get('bio')?.hasError('required')">
                Bio is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('bio')?.dirty && form.get('bio')?.hasError('minlength')">
                Bio is <strong>10 chars min</strong>
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="p-1 flex justify-end space-x-4">
    <button (click)="onCancel()" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">
        Cancel
    </button>
    <button (click)="onSubmit()" class="px-4 py-2 bg-blue-700 text-white rounded-md hover:bg-blue-500">
        Save
    </button>
</mat-dialog-actions>


